.wrapper {
  position: relative;
  margin-top: 85px;
  margin: 0 auto;
}

.wrapper .home {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 10px auto;
  padding: 20px;
  margin-top: 85px;
  width: 85%;
}

.wrapper .home .heading {
  display: flex;
  align-self: center;
  justify-content: center;
  position: relative;
  padding: 10px;
  width: 40%;
  min-width: 320px;
  margin: 10px auto;
}

.wrapper .home .heading h2 {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 1.8em;
  color: var(--color1);
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
  background-color: var(--color5);
  z-index: 100;
}

.wrapper .home .heading::after {
  content: "";
  position: absolute;
  top: 50%;
  background-color: var(--color4);
  height: 5px;
  width: 100%;
  left: 0;
  border-radius: 50%;
}

.wrapper .home .heading h2 img {
  margin-left: 7px;
}

.wrapper .home form {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 85%;
}

.wrapper .home .input {
  padding: 10px;
  width: 80%;
}

.wrapper .home form .input input,
.wrapper .home form select,
.wrapper .home form textarea {
  padding: 12px;
  padding-left: 12px;
  outline: none;
  flex: 1 1 350px;
  resize: none;
  border: none;
  box-shadow: 1px 1px 5px rgba(59, 59, 59, 0.452);
  width: 90%;
  font-size: 15px;
  margin: 0 auto;
  display: block;
  border: 2px solid transparent;
  border-radius: 3px;
  transition: all 0.5s linear;
}

.wrapper .home form .input input:focus,
.wrapper .home form textarea:focus {
  border: 2px solid var(--color4);
  transition: all 0.5s linear;
}

.wrapper .home form button {
  margin-top: 10px;
  padding: 14px 12px;
  font-weight: 700;
  background-color: var(--color4);
  color: var(--color5);
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  min-width: fit-content;
  width: 150px;
}

.wrapper .home form button:hover {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  color: var(--color1);
}

.wrapper .home form .chars {
  margin: 10px auto;
  margin-left: 5%;
  font-size: 14px;
  font-weight: 600;
  color: rgb(126, 126, 126);
}

@media screen and (max-width: 850px) {
  .wrapper .home {
    width: 100%;
  }

  .wrapper .home .input {
    width: 100%;
  }

  .wrapper .home form {
    width: 100%;
  }
}
