.wrapper {
  position: relative;
  margin-top: 85px;
  height: 1400px;
}

.wrapper .home {
  position: relative;
  display: flex;
  background: url(../../Media/projects2.jpg) no-repeat center;
  height: 92vh;
  background-size: cover;
  background-attachment: fixed;
  filter: contrast(1.2) brightness(0.7);
}

.wrapper .home .box {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 20px;
  width: 50%;
  backdrop-filter: blur(7px) saturate(180%);
  -webkit-backdrop-filter: blur(7px) saturate(180%);
  background-color: rgba(206, 206, 206, 0.158);
  height: 100%;
}

.wrapper .home .box h2 {
  position: relative;
  font-size: 5.2vw;
  color: var(--color1);
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px rgba(34, 34, 34, 0.527);
}

.wrapper .home .box h2 span {
  font-size: 5.5vw;
  color: var(--color4);
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
}

.wrapper .home .box button {
  margin-top: 10px;
  padding: 23px 15px;
  font-weight: 700;
  background-color: var(--color4);
  color: var(--color5);
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.781);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 30%;
  min-width: fit-content;
}

.wrapper .home .box button:hover {
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  color: var(--color1);
}

.wrapper .container {
  position: relative;
  margin: 10px auto;
  width: 85%;
  padding: 20px;
}

.wrapper .container section {
  margin: 120px 0;
}

.wrapper .container .heading {
  display: flex;
  align-self: center;
  justify-content: center;
  position: relative;
  padding: 10px;
  width: 40%;
  min-width: 300px;
  margin: 10px auto;
  margin-bottom: 40px;
}

.wrapper .container .heading h2 {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 10px 20px;
  font-size: 1.7em;
  color: var(--color1);
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
  background-color: var(--color5);
  z-index: 100;
}

.wrapper .container .heading::after {
  content: "";
  position: absolute;
  top: 50%;
  background-color: var(--color4);
  height: 5px;
  width: 100%;
  left: 0;
  border-radius: 50%;
}

.wrapper .container .heading h2 img {
  margin-left: 7px;
}

.wrapper .container .cards,
.wrapper .container .rates {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 15px;
}

.wrapper .container .rates {
  padding: 10px;
}

/*****************************************************************************/
/* Media Queries */
@media screen and (max-width: 360px) {
  .wrapper .container .cards {
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  .wrapper .home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: scroll;
  }

  .wrapper .home .box {
    width: 95%;
    height: fit-content;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 1px 1px 15px rgba(53, 53, 53, 0.514);
  }

  .wrapper .home .box button {
    width: 60%;
  }

  .wrapper .home .box h2 {
    padding-left: 20px;
    font-size: 10vw;
  }

  .wrapper .home .box h2 span {
    font-size: 10vw;
  }

  .wrapper .home .box h2::after {
    content: "";
    position: absolute;
    left: 0;
    border-left: 1vw solid var(--color4);
    height: 100%;
    top: 0;
  }
}
