.video {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 70px;
}

.video::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.39);
}

.video video {
  width: 100%;
  height: auto;
}

.box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 15px 25px;
  width: fit-content;
  border-radius: 12px;
  z-index: 100;
  direction: rtl;
  backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.11);
}

.box span {
  font-size: 60px;
  color: #fff;
  transition: all 0.7s linear;
  font-family: "Anton", sans-serif;
}

.box span:nth-of-type(2) {
  color: var(--color4);
}

.box button {
  margin-top: 10px;
  padding: 13px 7px;
  font-weight: 600;
  background-color: var(--color4);
  color: var(--color5);
  font-size: 19px;
  border: none;
  box-shadow: 1px 1px 7px rgba(36, 36, 36, 0.596);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  min-width: 140px;
  width: 15%;
  font-family: var(--secondFont);
  z-index: 1000;
}

.box button:hover {
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  color: #000;
}

.box button i {
  margin-right: 7px;
}

@keyframes textneon {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 1px 1px 15px rgb(146, 248, 248);
  }
  100% {
    text-shadow: none;
  }
}

@media screen and (max-width: 850px) {
  .video {
    margin-top: 0;
  }

  .box span {
    font-size: 32px;
  }
}

@media screen and (max-width: 360px) {
  .box span {
    font-size: 20px;
  }
}
