.footer {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  bottom: 0;
  left: 0;
  margin-top: 50px;
  overflow: hidden;
  background-color: var(--color1);
}

.footer > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15em;
  color: var(--color4);
  opacity: 0.1;
}

.footer .left,
.footer .right {
  flex: 1;
  padding: 50px;
  flex: 1 0 400px;
}

.footer .left {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}

.footer .left .box {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  padding: 10px;
}

.footer .left .box .leftSide {
  align-self: center;
}

.footer .left .box .leftSide i {
  color: var(--color4);
  font-size: 24px;
}

.footer .left .box .rightSide {
  margin-left: 15px;
  color: var(--color5);
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}

.footer .left .box .rightSide h4 {
  font-size: 15px;
  font-weight: 600;
}

.footer .left .box .rightSide span {
  font-size: 15px;
}

.footer .right {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.footer .right .navigations {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

.footer .right .navigations a {
  text-align: center;
}

.footer .right .social {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.footer .right .social div {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer .right .social div a i {
  font-size: 25px;
}

.footer .right .social span {
  color: var(--color5);
  font-weight: 500;
  font-size: 13px;
  margin-top: 10px;
}

.footer a {
  color: var(--color5);
  font-weight: 600;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}
