.card {
  position: relative;
  flex: 0 1 315px;
  width: 315px;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(94, 94, 94, 0.562);
  background-color: #fff;
  border-radius: 10px;
}

.card .img {
  height: auto;
  width: 100%;
  transition: all 0.5s linear;
  cursor: pointer;
  padding: 20px;
}

.card .img img {
  width: 100%;
  height: 200px;
  margin: auto;
}

.card .text {
  padding: 10px 10px;
}

.card:hover .img {
  transition: all 0.5s linear;
  transform: scale(1.08);
}

.card span {
  font-weight: 800;
}

.card .desc {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin: 12px 0;
  min-height: 70px;
  align-items: flex-start;
}

.card .desc span {
  background-color: rgba(125, 131, 190, 0.39);
  margin-right: 5px;
  margin-top: 5px;
  padding: 7px 15px;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
}

.card button {
  font-size: 17px;
  padding: 13px;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px auto;
  background-color: var(--color4);
  color: white;
  box-shadow: 1px 1px 15px var(--color4);
  width: 100%;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}
